# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.egg-info/
env/
venv/
*.log

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment
.env

# Static build files
static/css/output.css
